<% style ||= "" %>

<td class="mailer__cta" style="padding-bottom: 10px; padding-top: 10px;">
  <a href="<%= @cta_url %>" style="margin: 10px 0; background-color: #0DADFD; border-color: #0DADFD; border-style: solid; border-width: 7px 20px; border-radius: 2px; font-size: 14px; font-weight: 400; color: #fff; display: inline-block; text-decoration: none;" target="_blank" title="<%= @cta_label %>">
    <%= @cta_label %>
  </a>
</td>
