*.DS_Store
*.erb
*.ico
*.jpg
*.keep
*.lock
*.md
*.png
*.scss
*.sh
*.svg
*.webmanifest
*.xml
*.yml
.babelrc
.dockerignore
.env.*
.env.*
.env.*
.env.*
.env.*
.env.*
.eslintignore
.eslintrc
.git/*
.gitignore
.hound.yml
.nvmrc
.prettierignore
.prettierrc.json
.rspec
.rubocop.yml
.ruby-version
.scss-style.yml
.stylelintrc
bin/*
config.ru
db/schema.rb
docker-compose.yml
Dockerfile
entrypoint.sh
Gemfile
log/*
node_modules/*
Procfile
Procfile.dev
public/*
Rakefile
storage/*
tmp/*
vendor/*
