<div class='auth-header__logo auth-header__logo--mobile'>
  <%= link_to(root_path) do %>
    <%=
      inline_svg_tag(
        'logo-mini.svg',
        height: '50px',
        aria: true,
        preserve_aspect_ratio: true,
        title: 'FamilyTies Logo'
      )
    %>
  <% end %>
</div>
