<ul class="auth__links auth__links--omniauth">
  <% if provider_google_oauth2_enabled? %>
  <li>
    <a href="<%= omniauth_authorize_path(:user, "google_oauth2") %>">
      <button type='button' class="omniauth-btn omniauth-btn--google_oauth2">
        <div class="logo">
          <%= inline_svg_tag("omniauth/google.svg", class: 'logo', height: "24px") %>
        </div>

        <div class="label">
          <span>
          <% if controller_name == "sessions" %>
            <%= t(".log_in_with.google_oauth2") %>
          <% end %>
          <% if controller_name == "registrations" %>
            <%= t(".register_with.google_oauth2") %>
          <% end %>
          </span>
        </div>
      </button>
    </a>
  </li>
  <% end %>
</ul>
