@import 'src/shared/_breakpoints.scss';

.settings-users-index-table {
  width: 100%;
  min-width: $screen-sm;
}

.settings-users-index-table__row {
  .actions button {
    color: orange;
    font-weight: 600;
  }
}
