@import 'src/shared/_colors.scss';

// TODO: Consider applying this to all links globally, overriding layouts/_applications.scss
.standard-link {
  color: $light-blue;
  &:visited {
    color: $light-blue;
  }
  &:hover, &:focus {
    text-decoration: underline;
  }
}
