@import 'src/shared/_breakpoints.scss';
@import 'src/shared/_colors.scss';

//
// Positioning
//

.vertical-align {
  // Reminder: Requires parent to be positioned
  position:absolute;
  top:50%;
  bottom:50%;
  transform:translate(-50%, -50%);
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 2;
}

//
// Containers
//

.page-content {
  padding: 20px;

  @include breakpoint($screen-xs) {
    padding: 30px;
  }
}
.page-heading {
  margin: 20px 0;
  color: $dark-gray;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  text-align: left;

  @include breakpoint($screen-xs) {
    font-size: 48px;
  }
}
.page-subheading {
  margin: 20px 0;
  color: $black;
  font-weight: 500;
  font-size: 22px;
  text-align: left;
}

//
// Design Elements
//

.soft-shadow {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
}
.hard-shadow {
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}
.empty-state {
  color: $dark-gray;
  font-size: 18px;
  font-style: italic;
}

//
// Icon Trays
//

.icon-tray {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  height: 40px;
  margin-right: auto;
}

.icon-tray__item {
  position: relative;
  width: 40px;
  height: 100%;
  background-color: $white;
  cursor: pointer;
  transition: background-color 0.15s ease-in;

  // Below are defaults for all SVG icons in the icon tray
  // Each individual icon can be overridden based on its CSS id

  svg {

    // Vertically centering 24px SVG inside 40px div
    margin-top: 8px;

    g, path, ellipse, rect {
      fill: $dark-gray;
      stroke: $dark-gray;
    }
  }

  &:hover {
    svg {
      g, path, ellipse, rect {
        fill: $dark-purple;
        stroke: $dark-purple;
      }
    }
  }
}

//
// Other
//

.error-text {
  height: 30px;
  color: $red;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}
