@import 'src/shared/_breakpoints.scss';
@import 'src/shared/_colors.scss';

table {
  width: 100%;
  margin: 20px 0;
  font-size: 14px;
  text-align: left;
  border-collapse: collapse;

  thead {
    tr {
      height: 40px;
      color: $deep-navy;
      font-weight: 700;
      border-top: 2px solid $grayA;
      border-bottom: 2px solid $gray8;

      td {
        padding: 0 5px;
      }
    }
  }

  tbody {
    tr {
      height: 25px;
      line-height: 18px;
      background-color: $grayE;
      border-top: 1px solid $light-gray;

      &:nth-child(even) {
        background-color: $white;
      }

      td {
        padding: 7px 5px;
        word-wrap: break-word;
      }
    }
  }
}

.scrollable_mobile_table {
  overflow-x: scroll;
  white-space: nowrap;

  @include breakpoint($screen-xs) {
    overflow-x: initial;
  }
}
