@import 'src/shared/_colors.scss';

.password-criteria-container {
  position: relative;
}

// See: https://codepen.io/code-boxx/pen/NWwJwbN
$pcWidth: 350px;

.password-criteria {
  position: absolute;
  // Since the height of this element at the password input are fixed, we
  // can fix the relative height ot make this "float" above the element
  top: -250px;
  display: none;
  box-sizing: border-box;
  width: $pcWidth;
  height: 170px;
  margin: 50px auto;
  margin-left: calc( (100% - $pcWidth) / 2);
  padding: 20px;
  color: $charcoal;
  font-size: 1.1em;
  line-height: 20px;
  text-align: left;
  background: $off-white;
  border: 2px solid $dark-cornflower-blue;
  border-radius: 10px;

  &.enabled {
    display: initial;
  }

  &::after {
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
    border: 20px solid transparent;
    border-top-color: $dark-cornflower-blue;
    border-bottom: 0;
    content: "";
  }

  li {
    margin-bottom: 5px;
  }

  .status {
    display: inline-block;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-color: red;
    border-radius: 50%;

    &.valid {
      background-color: green;
    }
  }
}
