@import 'src/shared/_colors.scss';

.avatar-editor {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  margin: auto;
  overflow: hidden;
  border: 1px solid $dark-cornflower-blue;
  border-radius: 10px;

  img {
    width: 100%;
    height: initial;
  }
}

