<div class="mobile-header">
  <div class="mobile-header__menu-icon">
    <%= inline_svg_tag("icons/menu.svg", height: "28px", width: "28px" ) %>
  </div>

  <div class="mobile-header__logo">
    <%= link_to(root_path) do %>
      <%= inline_svg_tag("logo.svg", height: "36px", width: "36px" ) %>
    <% end %>
  </div>
</div>
