@import 'src/shared/_colors.scss';

.modal-form__block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;

  label {
    display: flex;
    align-items: center;
    width: 200px;
    // At lower widths the `width` above is not respected, leading to
    // misalignment. Force a minimum width
    min-width: 100px;
    margin-right: 20px;
    color: $dark-gray;
    font-weight: 700;
    font-size: 16px;
    text-overflow: ellipsis;
  }
}
.modal-form__block-element-container {
  display: flex;
  flex-flow: column nowrap;
}
.modal-form__block-element {
  input, select, textarea {
    display: block;
  }

  input {
    border-radius: 2px;
  }
}
