<%= render_inside(parent_layout: "application") do %>
  <%= render "desktop_header" %>
  <%= render "mobile_header" %>

  <div class="responsive-navigation-content">
    <%= yield %>
  </div>
<% end %>
